.wrapper{
    width: 420px;
    background: #000000;
    color: bisque;
    padding-top: 10px;
    padding-bottom: 40px;
    border-radius: 20px;
}
.wrapper h1{
    font-size: 36px;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.wrapper.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    background: #db6565;
    margin-bottom: 10px;
    margin-top: 100px;

}

.input-box input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    border: 2.5px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    padding: 20px 45px 20px 20px;
    font-size: 20px;
    color: #ffffff;
}

.wrapper .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin: -15px 0 15px;
    padding-left: 15px;
    padding-top: 10px;
    padding-right: 20px;
}

.remember-forgot label input{
    accent-color: #ffff;
    margin-right: 4px;
}

.remember-forgot a{
    color: #ffffff;
    text-decoration: none;
    transition: 0.5s;
}

.remember-forgot a:hover{
    text-decoration: underline;
    
}

.wrapper button{
    width: 100%;
    height: 45px;
    background: #ffffff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #000000;
    font-weight: 300;
    transition: 0.5s;
    align-items: center;
}

.wrapper button:hover{
    background: #000000;
    color: #ffffff;
    border-color: #ffffff;
}

.wrapper .register-link{
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
}
.register-link p a{
    text-decoration: none;
    color: #ffff;
    font-weight: 600;
    transition: 0.5s;
}
.register-link p a:hover{
    text-decoration: underline;
    
}




